// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  display:inline;
  font-size: 20px;
  color: aliceblue;
  font-weight: bolder;
  background-color: rgb(96, 96, 255);
  padding: 15px;
  margin: 5px;
}